#title {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #333;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

#new-twitt {
  border: 2px solid gray;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#tweets {
  border: 2px solid gray;
}