#title {
  font-size: 3rem;
  font-family: 'Caveat';
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #333;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

#new-twitt {
  font-size: 1.3rem;
  font-family: 'Roboto';
  background-color: #13BEEC;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 15rem;
  margin-right: 15rem; 
}

.milestone {
  color: snow;
  margin: 0.5rem;
}

#new-twitt input {
  height: 2rem;
  margin: 0.5rem;
}

#inputMessage input {
  width: 80rem;
}

#new-twitt button {
  font-weight: bold;
  font-family: 'Roboto';
  padding: 1rem;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}

#tweets {
  background-color: lightgrey;
  margin-left: 15rem;
  margin-right: 15rem; 
}

#buttonArea {
  border-bottom: 1px solid gray;
  background-color: #333D79;
  padding: 1rem;
}

#buttonArea button {
  font-weight: bold;
  font-family: 'Roboto';
  padding: 1rem;
}

button:hover {
  background-color: darkgray;
}

.tweet {
  font-family: 'Roboto';
  padding: 1.5rem;
}

.username {
  font-size: 1.5rem;
}

.username:hover {
  background-color: darkgray;
}

.timestamp {
  float: right;
}

.message {
  border-bottom: 1px solid gray;
}