#title {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #333;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

#new-twitt {
  background-color: #13BEEC;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 15rem;
  margin-right: 15rem; 
}

.milestone {
  color: snow;
  margin: 0.5rem;
}

#new-twitt input {
  height: 2rem;
  margin: 0.5rem;
}

#message input {
  width: 80rem;
}

#new-twitt button {
  padding: 1rem;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}

#tweets {
  background-color: lightgrey;
  margin-left: 15rem;
  margin-right: 15rem; 
}

#refreshTweets {
  border-bottom: 1px solid gray;
  background-color: #333D79;
  padding: 1rem;
}

#refreshTweets button {
  padding: 1rem;
}

.tweet {
  padding: 1.5rem;
}

.username {
  font-size: 1.5rem;
}

.timestamp {
  float: right;
}

.message {
  border-bottom: 1px solid gray;
}